@font-face {
  font-family: "Georgia";
  src: url(../assets/fonts/georgia.ttf) format("truetype");
}
@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/Avenir.ttf) format("truetype");
}
@font-face {
  font-family: "Georgia-Bold";
  src: url(../assets/fonts/georgiab.ttf) format("truetype");
}
@font-face {
  font-family: "Lato-Semibold";
  src: url(../assets/fonts/Lato-Semibold.ttf) format("truetype");
}
